# Copy these key-value pairs into your Frontend deployment dashboard (Vercel / Render / Netlify)

VITE_API_URL=https://postora-vo54.onrender.com/api/v1
VITE_API=https://postora-vo54.onrender.com/api/v1
VITE_GOOGLE_CLIENT_ID=298379574022-fiig3foj8q4r076a2ehie0k45l7oohp9.apps.googleusercontent.com
